
.loginContainer{
  background:#000;
}
body{
  background: black;
}
.loginContainer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity:0.4;
  width: 100%;
  height: 100%;
  background: url("../../../assets/Home/backgroundBanner.jpg");
  background-position: center;
}

.loginContainer nav {
  position: fixed;
  padding: 25px 60px;
  z-index: 1;
}

.loginContainer nav a img {
  width: 167px;
}

.loginContainer .form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  padding: 70px;
  width: 483px;
  /* height: 80%; */
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
}

.loginContainer .form-wrapper h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
}

.loginContainer .form-wrapper form {
  margin: 25px 0 20px;
}

.loginContainer form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}

.loginContainer .form-control input {
  height: 100%;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
}

.loginContainer .form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}

.loginContainer .form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.loginContainer .form-control input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

.loginContainer form button {
  width: 100%;
  height: 50px;
  padding: 16px 0;
  font-size: 1rem;
  background: #e50914;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  /* margin: 25px 0 10px; */
  margin-block: 6px;
  cursor: pointer;
  transition: 0.1s ease;
}
.loginContainer form .codeBtn{
  
  background: grey;
}
/* #loginRemember{
  color: "white" !important;
   font-size: "18px" !important;
} */
.loginContainer form .codeBtn:hover{
  
  background: rgb(105, 105, 105);
}
.loginContainer form button:hover {
  background: #c40812;
}

.loginContainer .form-wrapper a {
  text-decoration: none;
}

.loginContainer .form-wrapper a:hover {
  text-decoration: underline;
}

.loginContainer .form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}

.loginContainer .forgot{
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: underline !important;
  margin-block: 6px;
}
/* .loginContainer a{
  text-decoration: underline;
} */
.loginContainer form .form-help {
  margin-block: 13px;

  display: flex;
  justify-content: space-between;
}

.loginContainer form .remember-me {
  
  display: flex;
}
/* #remember-me{
  height: 50px;
} */
.loginContainer form .remember-me input {
  margin-right: 5px;
  /* height: 60px; */
  accent-color: #b3b3b3;
}

.loginContainer form .form-help :where(label, a) {
  font-size: 0.9rem;
}

.loginContainer .form-wrapper p a {
  color: #fff;
}

.loginContainer .form-wrapper small {
  display: block;
  margin-top: 15px;
  color: #b3b3b3;
}

.loginContainer .form-wrapper small a {
  color: #0071eb;
}

@media (max-width: 740px) {
  .loginContainer::before {
    display: none;
  }

  .loginContainer nav,
  .loginContainer .form-wrapper {
    padding: 20px;
  }

  .loginContainer nav a img {
    width: 140px;
  }

  .loginContainer .form-wrapper {
    width: 100%;
    top: 43%;
  }

  .loginContainer .form-wrapper form {
    margin: 25px 0 40px;
  }
}