
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none; 
  position: relative; 
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: #D63A1F; 
  bottom: 0;
  left: 0;
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link.active::after {
  transform: scaleX(1);
  background-color: #D63A1F;
}

.nav-link:hover,
.nav-link.active {
  color: #D63A1F;
}
